<div id="horizontal-grid">
  <div ng-repeat="l in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']">{{::l}}</div>
</div>
<div id="vertical-grid" style="float:left">
  <div ng-repeat="n in [8, 7, 6, 5, 4, 3, 2, 1]">{{::n}}</div>
</div>
<div id="chess" style="float: left">
  <chess-square ng-repeat="(coord, square) in chess.get_board_squares()"
    ng-attr-id={{::coord}}
    ng-class="{selected: chess.is_selected(coord)}"
    ng-bind="chess.get_code(coord)"
    select="chess.select_square(id)">
  </chess-square>
</div>
<div id="vertical-grid" style="float:left">
  <div ng-repeat="n in [8, 7, 6, 5, 4, 3, 2, 1]">{{::n}}</div>
</div>
<div style="float: left">
  Messages:
  <ul class="chat">
    <li ng-repeat="msg in chess.get_messages() track by $index">{{msg.text}}</li>
  </ul>
</div>
<div id="horizontal-grid">
  <div ng-repeat="l in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']">{{::l}}</div>
</div>
